DROP TABLE subscription;
DROP TABLE vehicule;
ALTER TABLE avis CHANGE status status VARCHAR(20) DEFAULT 'pending' NOT NULL, CHANGE destination destination VARCHAR(255) DEFAULT NULL, CHANGE latitude latitude DOUBLE PRECISION DEFAULT NULL, CHANGE longitude longitude DOUBLE PRECISION DEFAULT NULL, CHANGE weather_data weather_data JSON DEFAULT NULL, CHANGE sentiment_analysis sentiment_analysis JSON DEFAULT NULL, CHANGE keywords keywords JSON DEFAULT NULL, CHANGE sentiment_score sentiment_score DOUBLE PRECISION DEFAULT NULL, CHANGE predictive_analysis predictive_analysis JSON DEFAULT NULL, CHANGE satisfaction_score satisfaction_score DOUBLE PRECISION DEFAULT NULL, CHANGE commentaires commentaires JSON DEFAULT NULL, CHANGE photos photos JSON DEFAULT NULL, CHANGE main_photo main_photo VARCHAR(255) DEFAULT NULL;
ALTER TABLE reservation DROP FOREIGN KEY FK_42C849559909C13F;
DROP INDEX IDX_42C849559909C13F ON reservation;
ALTER TABLE reservation ADD email VARCHAR(100) NOT NULL, ADD telephone VARCHAR(20) DEFAULT NULL, ADD airline VARCHAR(50) NOT NULL, ADD departure_airport VARCHAR(50) NOT NULL, ADD arrival_airport VARCHAR(50) NOT NULL, ADD arrival_time DATETIME NOT NULL, ADD price DOUBLE PRECISION NOT NULL, ADD number_of_passengers INT NOT NULL, ADD reservation_date DATETIME NOT NULL, ADD status VARCHAR(20) DEFAULT 'pending' NOT NULL, ADD seat_number VARCHAR(10) DEFAULT NULL, ADD boarding_pass_file VARCHAR(20) DEFAULT NULL, ADD boarding_pass_sent TINYINT(1) NOT NULL, ADD admin_notes LONGTEXT DEFAULT NULL, ADD confirmed_at DATETIME DEFAULT NULL, ADD cancelled_at DATETIME DEFAULT NULL, ADD cancellation_reason VARCHAR(255) DEFAULT NULL, ADD destination_id INT NOT NULL, DROP nombre_places, DROP email_client, DROP transport_id, CHANGE nom_client nom_client VARCHAR(100) NOT NULL, CHANGE statut flight_number VARCHAR(20) NOT NULL, CHANGE date_reservation departure_time DATETIME NOT NULL;
ALTER TABLE reservation ADD CONSTRAINT FK_42C84955816C6140 FOREIGN KEY (destination_id) REFERENCES destination (id);
CREATE INDEX IDX_42C84955816C6140 ON reservation (destination_id);
ALTER TABLE transport DROP FOREIGN KEY FK_66AB212E4A4A3511;
DROP INDEX IDX_66AB212E4A4A3511 ON transport;
ALTER TABLE transport ADD localisation VARCHAR(100) DEFAULT NULL, ADD latitude DOUBLE PRECISION DEFAULT NULL, ADD longitude DOUBLE PRECISION DEFAULT NULL, DROP trajet, DROP date_heure, DROP vehicule_id, CHANGE image_url image_url VARCHAR(255) DEFAULT NULL;
ALTER TABLE transport_type CHANGE image image VARCHAR(255) DEFAULT NULL;
ALTER TABLE destination CHANGE code_iata code_iata VARCHAR(3) DEFAULT NULL, CHANGE video_url video_url VARCHAR(500) DEFAULT NULL, CHANGE date_creation date_creation DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL;
ALTER TABLE voyages CHANGE imagePath imagePath VARCHAR(255) DEFAULT NULL, CHANGE pays_depart pays_depart VARCHAR(100) DEFAULT NULL;
ALTER TABLE signalement CHANGE statut statut VARCHAR(50) DEFAULT 'en_attente' NOT NULL, CHANGE ip_address ip_address VARCHAR(255) DEFAULT NULL, CHANGE user_agent user_agent VARCHAR(255) DEFAULT NULL, CHANGE email_signaleur email_signaleur VARCHAR(255) DEFAULT NULL;
ALTER TABLE paiements DROP FOREIGN KEY FK_E1B02E129A1887DC;
ALTER TABLE paiements DROP FOREIGN KEY FK_E1B02E12A76ED395;
DROP INDEX IDX_E1B02E12A76ED395 ON paiements;
DROP INDEX IDX_E1B02E129A1887DC ON paiements;
ALTER TABLE paiements ADD statut_paiement VARCHAR(50) NOT NULL, ADD stripe_session_id VARCHAR(255) DEFAULT NULL, DROP status, DROP nom, DROP prenom, DROP email, DROP telephone, DROP stripe_payment_intent_id, DROP attempts, DROP score_risque, DROP user_id, DROP subscription_id, CHANGE methode_paiement methode_paiement VARCHAR(50) NOT NULL, CHANGE reservation_id reservation_id INT NOT NULL, CHANGE amount montant DOUBLE PRECISION NOT NULL;
ALTER TABLE paiements ADD CONSTRAINT FK_E1B02E12B83297E7 FOREIGN KEY (reservation_id) REFERENCES reservation (id);
CREATE INDEX IDX_E1B02E12B83297E7 ON paiements (reservation_id);
ALTER TABLE user DROP name, DROP face_registered, DROP wallet_balance, DROP loyalty_points, DROP pays, DROP est_bloque, CHANGE roles roles JSON NOT NULL;
ALTER TABLE messenger_messages CHANGE delivered_at delivered_at DATETIME DEFAULT NULL;
