<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">SmartTrip</a>
    <div class="navbar-nav ms-auto">
      <!-- Lien vers le Front -->
      <a class="nav-link" href="{{ path('app_offre_index') }}">Vue Voyageur</a>
      
      <!-- Lien vers le Back -->
      <a class="nav-link btn btn-outline-primary ms-lg-3" href="{{ path('app_admin_offre_index') }}">Espace Admin ⚙️</a>
    </div>
  </div>
</nav>